.width-100-per {
    width: 100%;
}

.height-fit-content {
    height: fit-content;
}

.dsp-flex {
    display: flex;
}

.justify-content-sp-btw {
    justify-content: space-between;
}

.overflow-scroll-x {
    overflow-x: scroll;
}

.mr-1rem {
    margin: 1rem;
}